body {
    background: linear-gradient(180deg, #A1D9F8 0%, #FFE6A0 100%);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #515253d7;
}

.border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid #ffffff;
    border-radius: 20px;
    width: 800px;
    height: 50vh;
}

#input {
    width: 20vw;
    height: 30px;
    border-radius: 10px;
    border: none;    
}
/* box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.75); */
.container {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    gap: 4rem;
}

.icon {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weather-icon {
    width: 200px;
}

#h1 {
    font-weight: 700;
    font-size: 50px;
}

#degrees {
    font-weight: 200;
    font-size: 40px;
    margin-top: -20px;
}